body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;
    margin: 0;
    padding: 0;
    height: 100%;
    weight: 100%


}

h1, h2{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: bolder;
}



p{
    color: #5c373d;
    margin: 10px;
    line-height: 1.6em;
    

}

li{
    color: #5c373d;
    text-align: center;
    margin: 10px;
    width: auto;
    vertical-align: middle;
    position: relative;
    
}

a{
    text-decoration: none;
    color: black;
    padding: 2vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav{
    width: 100vw;
    background-color: burlywood;
}

ul{
    margin: 10;
    padding: 0;
    

}