body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;
    margin: 0;
    padding: 0;
    height: 100%;
}

header{

    color: #0d2344;
}

h1, h2, h3{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: bolder;
    color: rgb(226, 43, 61);
}     
    



p{
    color: #0d2344;
    margin: 10px;
    width: auto;
    line-height: 1.6em; 
}

li{
    color: #0d2344;
    text-align: center;
    margin: 10px;
    width: auto;
    vertical-align: middle;
    position: relative;  
}


nav{
    width: 100vw;
    background-color: rgb(226, 43, 61);
    padding: 0px;
    text-align-last: auto;
}


ul{
    margin: 10px;
    padding: 0;
}